<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="shortcut icon" href="../imagens/logo.svg" type="image/x-icon">
    <title>Serviços</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navLogo">
                <a href="../../index.html"><img src="../imagens/logo_header.svg" alt=""></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="services.html">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registration.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"><button type="button" class="btn btn-outline-danger"
                                id="btnHeader">Login</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="h1 mt-4 mb-5">
        <h1>Nossos serviços incluem:</h1>
    </div>
    <div class="d-flex w-100 justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../imagens/IA.png" alt="Inteligencia artificial">
            <div class="card-body">
                <h5 class="card-title">Ferramentas com IA para empresas</h5>
                <p class="card-text">Nossa ferramenta conta com recursos de IA que geram texto, imagens e nome,
                    facilitando
                    e tornando dinâmico os seus trabalhos.</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../imagens/pagamentos.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Solução Universal para Pagamentos</h5>
                <p class="card-text">Os planos do FrontEnders para lojas virtuais dão suporte aos métodos de pagamentos
                    mais populares. Dos cartões Visa e Mastercard ao Apple Pay, sua empresa nunca vai perder uma venda
                    sequer.</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../imagens/responsive.jpg" alt="Responsividade">
            <div class="card-body">
                <h5 class="card-title">Sites Prontos para dispositivos móveis</h5>
                <p class="card-text">Os sites FrontEnders são responsivos por natureza. Todas as páginas vão mudar
                    de tamanho automaticamente para se adaptar a qualquer dispositivo e ficar com o visual perfeito.
                </p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>

    </div>


    <main>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center mt-5">
            <h2 class="display-4 fw-normal">Easy Dev</h2>
            <p class="fs-5 text-muted">Utilzando nossa ferramenta Easy Dev criamos um site dinâmico, responsivo
                e moderno
                ideal para o seu negócio alavancando suas vendas. </p>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Grátis</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$0<small class="text-muted fw-light">/mês</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>whatsapp integrado</li>
                                <li>2 GB de armazenamento</li>
                                <li>Email suporte</li>

                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Assinar o
                                grátis</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$15<small
                                    class="text-muted fw-light">/mês</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>whatsapp integrado</li>
                                <li>10 GB de armazenamento</li>
                                <li>Prioridade no suporte Email</li>
                                <li>Suporte telefônico</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Assinar o Pro</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Empresarial</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$29<small
                                    class="text-muted fw-light">/mês</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>whatsapp integrado</li>
                                <li>armazenamento ilimitado</li>
                                <li>integração com Redes sociais</li>
                                <li>Suporte 24h</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Assinar o
                                Empresarial</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="display-6 text-center mt-5 mb-4">Compare os planos</h2>

            <div class="table-responsive mb-4">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th style="width: 34%;"></th>
                            <th style="width: 22%;">Grátis</th>
                            <th style="width: 22%;">Pro</th>
                            <th style="width: 22%;">Empresarial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Numero de páginas</th>

                            <td>1 página</td>
                            <td>Ilimitado</td>
                            <td>Ilimitado
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Dominio Gratuito</th>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                </svg></td>
                            <td>.online, .site ou .website
                            </td>
                            <td>.online, .site, .website, .com ou .com.br</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Caixas de E-mail</th>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                </svg>
                            </td>
                            <td>5 caixas de e-mail</td>
                            <td>10 caixas de e-mail</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">E-mail marketing</th>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                </svg> </td>
                            <td>1 mil envios de e-mail marketing</td>
                            <td>5 mil envios de e-mail marketing</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Site seguro(SSL) </th>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Hospedagem Inclusa</th>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>

                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Google Analitics</th>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="d-flex justify-content-around align-items-center py-4">
        <div class="logoFooter">
            <a href="../../index.html"><img src="../imagens/logo.svg" alt="Logo"></a>
        </div>

        <div class="d-flex gap-5">
            <ul class="nav ms-3 flex-column">
                <li class="nav-item"><a href="../../index.html" class="nav-link px-2  fs-3">Início</a></li>
                <li class="nav-item"><a href="services.html" class="nav-link px-2 text-muted">Serviços</a></li>
                <li class="nav-item"><a href="team.html" class="nav-link px-2 text-muted">Equipe</a></li>
                <li class="nav-item"><a href="registration.html" class="nav-link px-2 text-muted">Cadastro</a></li>
                <li class="nav-item"><a href="login.html" class="nav-link px-2 text-muted">Login</a></li>
            </ul>
            <ul class="nav ms-2 flex-column">
                <li class="nav-item"><a href="#" class="nav-link px-2  fs-3">Suporte</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Perguntas frequentes</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contato</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Chat online</a></li>
            </ul>
        </div>

        <div class="redesSociais">
            <div>
                <h4 class="lead text-primary nav-link fs-4 mb-3 text-center">Redes</h4>
            </div>
            <div>
                <a href="#"><img src="../imagens/instagram.png" alt=""></a>
                <a href="#"><img src="../imagens/facebook.png" alt=""></a>
                <a href="#"><img src="../imagens/linkedin.png" alt=""></a>
                <a href="#"><img src="../imagens/whatsapp.png" alt=""></a>
            </div>
        </div>
    </footer>
    <p class="m-0 w-100 text-center paragraphFooter lead fs-6">&copy;2022 - FrontEnders</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="../../controller/script.js"></script>
</body>

</html>