<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/team.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Equipe</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FrontEnders</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="services.html">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registration.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"><button type="button" class="btn btn-outline-danger" id="btnHeader">Login</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../imagens/Antonio.jpg" alt="Antonio" style="width:100%; height: 210px;">
                        <h2>Antonio Juevan</h2>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <p><button>Mais Detalhes</button></p>
                    </div>
                    <div class="flip-card-back">
                        <h2>Antonio Juevan</h2>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../imagens/DiegoB.jpeg" alt="DiegoB" style="width:100%; height: 210px;">
                        <h2>Diego Bernardes</h2>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <p><button>Mais Detalhes</button></p>
                    </div>
                    <div class="flip-card-back">
                        <h2>Diego Bernardes</h2>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../imagens/DiegoP.jpg" alt="DiegoP" style="width:100%; height: 210px;">
                        <h2>Diego Pereira</h2>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <p><button>Mais Detalhes</button></p>
                    </div>
                    <div class="flip-card-back">
                        <h2>Diego Pereira</h2>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../imagens/Leonardo.jpg" alt="Leonardo" style="width:100%; height: 210px;">
                        <h2>Leonardo Villar</h2>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <p><button>Mais Detalhes</button></p>
                    </div>
                    <div class="flip-card-back">
                        <h2>Leonardo Villar</h2>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../imagens/Sara.jpg" alt="Sara" style="width:100%; height: 210px;">
                        <h2>Sara Ayram</h2>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <p><button>Mais Detalhes</button></p>
                    </div>
                    <div class="flip-card-back">
                        <h2>Sara Ayram</h2>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../imagens/Vitória.jpeg" alt="Vitória" style="width:100%; height: 210px;">
                        <h2>Vitória Tavares</h2>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <p><button>Mais Detalhes</button></p>
                    </div>
                    <div class="flip-card-back">
                        <h2>Vitória Tavares</h2>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"crossorigin="anonymous"></script>
    <script src="../../controller/script.js"></script>
</body>

</html>