form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formBox{
    width: 35%;
    margin: 7vh 0 7vh 0;
    border: 5px solid #fff;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
}
.formBox a{
    text-decoration: none;
}
.field{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.error{
    color: red;
    margin-top: 5px;
}
@media(max-width: 1300px){
    .formBox{
        width: 45%;
    }
} 
@media(max-width: 1000px){
    .formBox{
        width: 65%;
    }
}
@media(max-width: 700px){
    .formBox{
        width: 90%;
    }
}