.bannerCadastro{
    background: url(../imagens/registro.jpg) rgba(0, 0, 0, 0.712);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    height: 90vh;
}
.cadastroInfo{
    color: #fff; 
    text-shadow: 1px 1px #000;
}
.btnFormModal, .cadastroInfo{
    transform: translateY(-30px);
}
.cadastroInfo p{
    margin-left: 15px;
    margin-right: 15px;
}
.formRegistro input{
    margin-top: 10px;
}
.addressNumber{
    width: 20%;
}
.error{
    color: red;
}
#alertSucess img{
    width: 60px;
    height: 60px;
}
