.navbar{
    padding: 10px;
}
.navbar-nav .nav-item:not(:last-child){
    transform: translateY(6px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.item1{
    grid-area: i1;
    background-color: rgb(56, 147, 228);

    width: 50vw;
}
.item2{
    grid-area: i2;
    background-color: rgb(56, 147, 228);
}

.item3{
    grid-area: i3;
    background-color: rgb(255, 255, 255);
    display: grid;
    
}
.item4{
    grid-area: i4;
    background-color: rgb(218, 122, 119);
}

.footer{
    grid-area: footer;
    background-color: antiquewhite;
}
.container2{

    width: 100vw;
    height: 1800px;
    display: grid;
    grid-template-areas: 
    "i1 i2"
    "i3 i3"
    "i4 i4"
    "footer footer"
    ;
    grid-template-rows: 600px 1fr 600px 100px;
}

.bg-svg{
    margin: 0;
    padding:0;
    fill:rgb(56, 147, 228) ;
    width: 100%;
}
.bg-svg2{
    margin: 0;
    padding:0;
    fill:white ;
    width: 100%;
}

.imagem{
    width:600px;
    height: 90vh;
    margin: 50px;
}


.text1{
    
    margin: 250px 50px 50px 50px;
    text-align: right;
    font-size: 20px;
    color: white;
}
.text2{
    width:600px;
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 1080px;
    right: 16px;
}
.text3{
    font-size: 20px;
    color: white; 
    text-align: center;
    margin-top: 100px;
}
.btnRegistrar{
    background-color: brown;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 580px;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
}